<header>
    <nav>
        <div class="logo"> <a href="/"> My Website </a></div>
        <div class="auth-buttons">
            <a href="/sign-in" class="btn signin">Sign In</a>
            <a href="/sign-up" class="btn signup">Sign Up</a>
            <a href="/student-details" class="btn signup">Student Details</a>
        </div>
    </nav>
</header>